.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    
}
