.container {
    display: grid;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 4vw;
    row-gap: 1vw;
}

// @media screen and (max-width: 640px){
//     .list{
//         grid-template-columns: repeat(2, 1fr);
//     }
// }
// 
// @media screen and (max-width: 480px){
//     .list{
//         grid-template-columns: repeat(1, 1fr);
//     }
// }