.container{
    border-bottom: 2px solid #CACDD8;
}

.container > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    font-weight: 500;
    .links{
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        a {
            text-decoration: none;
            transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
            &:hover {
                color: #0156FF;
            }
        }
    }
    .logo{
        font-size: 1.5rem;
        font-weight: 700;
        color: #0156FF;
        flex: 1;
    }
    .actions{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
    }
}